:root {
  --size-control-width: 30px;
  --radius-full: 999px;
  --padding-default: 1rem;

  /* Typography */
  --font-family-base: sans-serif;
  --font-size-sm: 0.8em;

  /* Cursor */
  --cursor-default: grab;
  --cursor-active: grabbing;

  /* Transition */
  --transition-default: 0.15s ease;

  /* Stroke / Dash */
  --stroke-width-primary: 2;
  --stroke-width-secondary: 1;
  --stroke-dash-pattern: 4 2;
  --border: var(--pico-border-width) solid var(--pico-form-element-border-color);
}

* {
  scroll-margin-block-start: 0.75em;
  box-sizing: border-box;
  margin-block-end: 0 !important;
}

html {
  padding: 0;
  margin: 0;
  color: var(--pico-color);
  background-color: var(--pico-background-color);
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family-base);
}

html[data-theme="dark"] nav img {
  filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
  nav img {
    filter: invert(100%);
  }
}

[disabled] {
  display: none !important;
}

h2 {
  --pico-font-size: 1.25rem;
}

header {
  display: flex;
  gap: 1rem;
}

div[id$="-mode"] {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
}

range-slider {
  position: relative;
  width: var(--size-control-width);
  height: 100%;
  min-height: 200px;
  background-color: var(--pico-form-element-background-color);
  border: var(--border);
  border-radius: var(--radius-full);
}

range-slider:before, range-slider:after {
  position: absolute;
  font-size: var(--font-size-sm);
  left: calc(var(--size-control-width));
  width: max-content;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}

range-slider:before {
  content: "- " attr(min);
  bottom: calc(var(--size-control-width) / 2 - 1px);
  transform: translateY(50%);
}

range-slider:after {
  content: "- " attr(max);
  top: calc(var(--size-control-width) / 2 - 1px);
  transform: translateY(-50%);
}

range-slider .slider-container {
  height: 100%;
  border-radius: var(--radius-full);
  background: linear-gradient(to top, var(--pico-form-element-border-color) 0%, transparent 0%);
}

range-slider .marker {
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--pico-switch-background-color);
  border: var(--border);
  border-radius: 50%;
  cursor: var(--cursor-default);
  transform: translateY(0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-default);
  z-index: 2;
}

range-slider .marker:hover {
  background-color: var(--pico-primary-background);
}

range-slider .label {
  position: absolute;
  font-size: var(--font-size-sm);
  background-color: var(--pico-background-color);
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  top: 50%;
  left: calc(var(--size-control-width) - 1px);
  transform: translateY(-50%);
}

range-slider .label:before {
  content: "- ";
}

bezier-curve {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--pico-form-element-background-color);
  border: var(--border);
  border-radius: var(--pico-border-radius);
}

bezier-curve svg {
  width: 100%;
}

bezier-curve .bezier-anchor {
  fill: var(--pico-switch-background-color);
  stroke: var(--pico-secondary);
  stroke-width: 1;
  cursor: pointer;
  r: 8;
  transition: fill var(--transition-default);
}

bezier-curve .bezier-anchor:hover {
  fill: var(--pico-primary-background);
}

bezier-curve path {
  fill: none;
  stroke: var(--pico-secondary);
  stroke-width: var(--stroke-width-primary);
}

bezier-curve .control-line {
  stroke: var(--pico-secondary);
  stroke-width: var(--stroke-width-secondary);
  stroke-dasharray: var(--stroke-dash-pattern);
}

time-bar-chart {
  overflow: hidden;
  background-color: var(--pico-form-element-background-color);
  border: var(--border);
  border-radius: var(--pico-border-radius);
}

time-bar-chart .resize-handle {
  fill: transparent;
  pointer-events: all;
  cursor: ew-resize;
}

time-bar-chart .resize-handle:hover {
  fill: var(--pico-primary-background);
}

time-bar-chart #threshold-line {
  cursor: ns-resize;
  stroke: var(--pico-primary-background);
  stroke-width: 5;
}

time-bar-chart .parameters {
  padding: 0.25rem;
}

dialog:has(footer) article {
  padding-block-end: 0;
}

dialog article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem !important;
}

dialog footer {
  display: flex;
  justify-content: space-between;
}
