* {
    scroll-margin-block-start: 0.75em;
}

body {
    width: min(80ch, 100% - 2rem) !important;
}

details > * {
    text-align: left;
}

summary {
    cursor: pointer;
    padding-block: 0.75em;
}

form .grid.middle {
    align-items: center;
}


a:focus {
    outline: unset;
}

/* Themes */

html[data-theme="dark"] nav img {
    filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
    nav img {
        filter: invert(100%);
    }
  }